<div class="pet-grid__item   grid__item one-half large--one-third">

  <!--pet skeleton-->
      <!--pet Image-->
      <!--pet Image click collapse the image-->
      <a href class="pet-grid__pet" >
          <img class="pet-grid__img"   sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" ng-src="{{item.image}}" ng-show = "!showPic" alt="">
      </a>
      <a ng-click="showPic = !showPic" class="pet-grid__pet">
          show image
      </a>

      <!--pet Meta-->
      <div class="pet-grid__meta">
          <!--Title click should redirect to the pet-details section. Remember to pass along the pet id so you can make an api call
      to get the specific pet details-->
          <h3 class="pet-grid__name"><a ui-sref="pet-bio({id: item.id})">{{item.name}}</a></h3>

          <!--pet Breed-->
          <h4 class="pet-grid__sub">{{item.breed}}</h4>

          <!--pet Age-->
          <div class="pet-grid__price">{{item.age}}</div>
      </div>
  <!--End pet Skeleton-->
</div>
